.profile-container {
    height: 100vh;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.login-button {
    height: 80px;
    width: 200px;
    font-size: 35px;
    background-color: gold;
}


.user-email-box{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;

}

.user-pic {
    width: 200px;
    height: 200px;
}

.profile-container{
    display: flex;
    justify-content: space-around;
}

.username {

}