.profile-container {
    height: 100vh;
    width: 1500px;
    margin: 0 auto;
    background-color: #fff;
}

.login-button {
    height: 80px;
    width: 200px;
    font-size: 35px;
    background-color: gold;
}