.mens-page{
    width: 1200px;
    height: 140vh;
    margin: 0 auto;
}

.mens-title{
    margin-top: 0;
    background: #d5d5d300;
    font-size: 75px;

}

.mens-links{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    color: #fdd947;
}

.mens-nav{
    font-size: 20px;
    letter-spacing: 2px;
    color: #252525; 
    text-decoration: none;
}

.mens-nav:hover {
    text-decoration: underline;
}


.mens-page {
    background: #d5d5d3ef
}



@media (min-width: 350px) and (max-width: 376px){
    .mens-page {
        width: 375px;
    }

    .mens-links {
        width: 375px;
    }

    .mens-nav {
        font-size: 10px;
        width: 375px;
    }
}