//////////color/////////
$background-white: rgba(255, 255, 255, 0.952);
$golden-text: #fdd947;


.big-div {
    background: $background-white;
    margin: 0 auto;
    width: 1200px;
    height: 800px;
    display: flex;

    .about-container {
        margin: 0 auto;
        width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    .about-img {
        padding-top: 25px;
        width: 1000px;
        min-height: 600px;
        position: relative;
        margin-bottom: 30px;
    }

    .text-block{
        margin: 0 auto;
        width: 350px;
    }

    .temps{
        display: flex;
        margin: 0 auto;
        width: 200px;
        justify-content: space-between;
        align-items: center;
    }

}






