//////////color/////////
$background-white: rgba(255, 255, 255, 0.952);

.about-container {
    margin: 0 auto;
    width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-white;

    .about-img {
        width: 1000px;
        min-height: 600px;
        position: relative;
    }

    .temps{
        display: flex;
        margin: 0 auto;
        width: 200px;
        justify-content: space-between;
        align-items: center;
    }
}







