.mensShoespage {
    display: flex;
}


.displayShoes {
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}


.eachShoe {
    margin: 10px;
    height: 300px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center
}

.shoeimg {
    width: 150px;
    transition: transform .2s;
}

.shoeimg:hover {
    
    transform: scale(1.5)
}



.modal {
    background-color: aqua;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.btn-box{
    display: flex;
    justify-content: center;
}

.product-btn {
    text-transform: uppercase;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    width: 150px;
    height: 35px;
}
