.fullscreen-video-wrap {
    position: relative;
    top:0;
    left:0;
    width: 1500px;
    height: 80vh;
    overflow: hidden;
    margin: 0 auto;
}

.fullscreen-video-wrap video{
    min-width: 100%;
    min-height: 100%;
}


.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: rgb(131, 38, 38);
    opacity: 0.5;
}