.under-title{
    margin: 0 auto;
    width: 1200px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

.fa-globe-americas{
    color: #fdd947;
    font-size: 250px;
}

.bb{
    margin: 0 auto;
    margin-top: 150px;
    width: 1200px;
    display: flex;
    justify-content: center;
    color:#fdd947;
    font-size: 180px;
    font-weight: 300;
    letter-spacing: 10px;
}