

.navbar-container {
    max-width: 1500px;
    margin: 0 auto;
}

.logo-title{
    font-weight: 300;
    text-decoration: none;
    color: gold;
    font-size: 70px;
    letter-spacing: 2px;
    text-shadow: 5px 5px 10px #000;
}

.fa-globe{
}


.navbar {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: #444444;
    border-bottom: 1px solid rgba(182, 182, 182, 0.575);
}


.navbar-list {
    width: 600px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-links {
    color: #ffffff;
    text-decoration: none;
}

.nav-links:hover {
    text-decoration: underline;
}


.nav-input {
    height: 30px;
}

.cart-icon {
    height: 50px;
}