
.footer-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer {
    
    height: 30vh;
    width: 100%;
    margin: 0 auto;
    /* border-top: 2px solid #ffdc73; */
    color: #fff;
    display: flex;
    justify-content: space-around;
    background: #030303;

}

.footer > span {
    font-weight: bold;
}



.social-media{
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
    width: 250px;
    height: 90px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .social-media li{
    display: inline-block;
  }

.social-media li .fa{ 
    background: #fff;
    color: #252525;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align:center;
    line-height:50px;
    transition: all .3s ease;
  }

  .social-media .fa:hover {
    transition: all .3s ease;
    box-shadow: 5px 5px 5px #000;
    transform: translateY(-5px);
  }

  .social-media .fa.fa-twitter:hover{
    background:#55acee;
    color:#fff;
   
  }
  
  .social-media .fa.fa-facebook:hover{
    background:#3b5998;
    color:#fff;
  }

  .social-media .fa.fa-instagram:hover{
    background:#6a453b;
    color:#fff;
  }

  .payment {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 400px;
  }

.helper{
  margin-top: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}


.helper-links{
  margin-top: 10px;
  display: flex;
  height: 85%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.product-links{
  margin-top: 10px;
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.payment-methods {
    display: flex;
    height: 90px;
    font-size: 35px;
    justify-content: space-between;
}

.hl{
  position: relative;
  font-size: 12px;
  text-transform: none;
}

.hl{
  cursor: pointer;
}

.hl:after{
  
  content: '';
  position: absolute;
  width: 0; height: 1px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width 1s ease;
  -webkit-transition: width 1s ease;
}
 
.hl:hover:after{

  width: 100%;
  left: 0;
  background: #fff;
}

.country-copy{
  padding-top: 20px;
  height: 5vh;
  background: #030303;
  color: #fff;
  font-size: 10px;
}

.foller{
  margin-top: 10px;
}






@media (min-width: 350px) and (max-width: 376px){
  .footer {
    display: none;
}

.footer > span {
    font-weight: bold;
}



.social-media{
    list-style-type: none;
    padding: 0px;
    margin: 0 auto;
    width: 250px;
    height: 90px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .social-media li{
    display: inline-block;
  }

.social-media li .fa{ 
    background: #ffdc73;
    color: #252525;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align:center;
    line-height:50px;
    transition: all .3s ease;
  }

  .social-media .fa:hover {
    transition: all .3s ease;
    box-shadow: 5px 5px 5px #000;
    transform: translateY(-5px);
  }

  .social-media .fa.fa-twitter:hover{
    background:#55acee;
    color:#fff;
   
  }
  
  .social-media .fa.fa-facebook:hover{
    background:#3b5998;
    color:#fff;
  }

  .social-media .fa.fa-instagram:hover{
    background:#6a453b;
    color:#fff;
  }

  .payment {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 400px;
  }

.payment-methods {
    display: flex;
    height: 90px;
    font-size: 35px;
    justify-content: space-between;
}
}