.overall-container {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.banner-container {
    margin: 20px;
    position: relative;
    width: 600px;
    height: 400px;
  }
  
  .banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .banner-container:hover .banner-overlay {
    display: block;
    background: rgba(0, 0, 0, .6);
  }
  
  .banner-img {
    position: absolute;
    width: 600px;
    height: 400px;
    left: 0;
  }
  
  .banner-title {
    position: absolute;
    width: 600px;
    left: 0;
    top: 170px;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fdd947;
    z-index: 1;
    transition: top .8s ease;
  }
  
  .banner-container:hover .banner-title {
    top: 110px;
    color: #fdd947;
  }
  
  .banner-button {
    position: absolute;
    width: 600px;
    left:0;
    top: 200px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .banner-button a{
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: #fdd947;
    border: solid 2px #fdd947;
    z-index: 1;
    text-decoration: none;
  }
  
  .banner-container:hover .banner-button {
    opacity: 1;
  }